# MongoDB Configuration
MONGODB_URI=mongodb+srv://stayready_user:stayready648210@stayready.vtld978.mongodb.net/

# Server Configuration
PORT=5000

# JWT Secret (for future authentication)
JWT_SECRET=d8f569c360c183c7322484eeed18a82a